body {
  background-image: url("Images/fundo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

h1 {
  margin-right: 10px;
  margin-top: 0%;
  margin-bottom: 50px;
  text-align: right;
  font-size: 480%;
  font-family: 'Cinzel', serif ;
  color: firebrick;
}

h2 {
  margin-right: 205px;
  margin-top: -40px;
  margin-bottom: 30px;
  text-align: right;
  font-size: 230%;
  font-family: 'Lacquer', sans-serif;
  color: rgb(10, 26, 56);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 170px;
}

.text-box {
  width: 250px;
  text-align: center;
  border: 1px double snow;
  font-family: 'Lacquer', sans-serif;
  background-color: rgb(235, 175, 175, 0.5);
  color: rgb(8, 29, 68);
}

.message {
  margin-top: 20px;
  height: 100px;
  resize: none;
}

.result {
  height: 110px;
  text-align: justify;
  word-break: break-all;
  overflow: auto;
}

.btn {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.btn-box {
  width: 100px;
  height: 25px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Cinzel', serif ;
  color:rgb(8, 29, 68);
  background-color: rgb(224, 142, 88);
}

.btn-box:hover {
  background-color: rgb(221, 111, 38);
  color: #fff;
  cursor: pointer;
}

.btn-box:active{
  position:relative;
  top:5px;
  box-shadow:none;
}

/* Foram adicionadas 'Lacquer', sans-serif; e 'Cinzel', serif; do Google Fonts */